pydot==1.2.3
psycopg2==2.7.3.1
django-versatileimagefield==1.8.1
django-rest-auth==0.9.1
django-multiselectfield==0.1.8
django-money==0.11.4
django-filter==1.0.4
django-extra-fields==0.9
django-extensions==1.9.6
django-crispy-forms==1.7.0
django-cors-headers==2.1.0
django-allauth==0.33.0
